@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  font-style: normal;
  src: url('./Gilroy-Light.ttf');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: url('./Gilroy-Regular.ttf');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  src: url('./Gilroy-Bold.ttf');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: url('./Gilroy-Extrabold.ttf');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 900;
  src: url('./Gilroy-Black.ttf');
}