.burger__menu {
    display: block;
    position: fixed;
    background: #fff;
    left: 0;
    z-index: 2;
    &-list {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(90deg, #f5fffa 50%, #adff2f 10%);
        box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
        width: 240px;
        height: 250px;
        border-radius: 10px;
        & li {
            padding: 5px 0;
        }
    }
    &-link {
        font-size: 23px;
        transition: 0.2s;
        color: #1F2428;
        &:hover {
            color: #000;
            transition: 0.2s;
        }
    }
    &-profile {
        display: none;
    }
    &-connection {
        display: none;
    }
}
.blur {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    position: fixed;
    transition: all 0.3s ease 0s;
}
.burger__menu--inactive {
    display: none;
    transition: all 0.3s ease 0s;
}
@media (max-width: 720px) {
    .burger__menu-profile {
        display: block;
    }
    .burger__menu-list {
        height: 300px;
    }
}
@media (max-width: 450px) {
   .burger__menu-connection {
    display: block;
   } 
   .burger__menu-list {
    height: 330px;
   }
}