.header {
    font-family: 'Gilroy-Bold';
    color: #1F2428;
    padding-top: 30px;
    margin-bottom: 36px;
    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__nav {
        &-list {
            display: flex;
            align-items: center;
            flex-direction: row;
            transition: 0.2s;
            margin: 0 -20px;
            & li {
                margin: 0 20px;
            }
        }
        &-link {
            font-size: 15px;
            line-height: 16px;
            color: #1F2428;
            &:hover {
                color: #00D981;
                transition: 0.2s;
            }
        }
    }
    &__menu {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    &__profile {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-right: 42px;
        cursor: pointer;
        transition: 0.2s;
        &-img {
            margin-right: 11px;
        }
        &:hover {
            color: #00D981;
            transition: 0.2s;
        }
    }
    &__connection {
        font-family: 'Gilroy-Extrabold';
        display: inline-block;
        font-size: 13px;
        line-height: 18px;
        color: #FFFFFF;
        background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
        box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
        border-radius: 36px;
        padding: 16px 35px;
        transition: 0.3s;
        &:hover {
            color: #1F2428;
            transition: 0.3s;
            background: linear-gradient(90deg, #eab676 30%, #00D981 96.96%);
        }
    }
}
.burger {
    display: none;
    &-content {
        position: relative;
        width: 27px;
        height: 20px;
        & span {
            position: absolute;
            left: 0;
            top: 9px;
            width: 100%;
            height: 2px;
            background: #1F2428;
        }
        &:before {
            display: block;
            width: 100%;
            height: 2px;
            background-color: #1F2428;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            transition: all 0.3s ease 0s;
        }
        &:after {
            display: block;
            width: 100%;
            height: 2px;
            background-color: #1F2428;
            position: absolute;
            bottom: 0;
            left: 0;
            content: '';
            transition: all 0.3s ease 0s;
        }
    }
    &--active {
        & span {
            display: none;
        }
        & .burger-content {
            &:before {
                transform: rotate(45deg);
                top: 9px;
            }
            &:after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
        }
    }
}
@media (max-width: 1300px) {
    .header__nav-list {
        margin: 0 -10px;
        & li {
            margin: 0 10px;
        }
    }
    .header__profile {
        margin-right: 15px;
    }
    .header__logo {
        width: 160px;
    }
    .header__connection {
        padding: 14px 30px; 
    }
}
@media (max-width: 1025px) {
    .burger {
        display: block;
        order: 1;
        flex: 0 0 33%;
    }
    .burger--active {
        flex: 0 0 33%;
    }
    .header__nav {
        display: none;
    }
    .header__logo {
        order: 2;
        text-align: center;
    }
    .header__menu {
        order: 3;
        justify-content: center;
    }
}

@media (max-width: 720px) {
    .header {
        padding-top: 15px;
    }
    .header__logo {
        width: 110px;
    }
    .header__profile-img {
        width: 17px;
        margin-right: 4px;
    }
    .header__profile {
        display: none;
    }
}

@media (max-width: 490px) {
    .header__connection {
        padding: 14px 20px;
    }
}
@media (max-width: 450px) {
    .header__logo {
        width: 140px;
    }
    .header__connection {
        padding: 5px 8px;
        font-size: 9px;
    }
    .header__connection {
        display: none;
    }
    .burger {
        flex: 0 0 0;
    }
    .burger--active {
        flex: 0 0 0;
    }
}